* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;

  background-color: inherit;
  color: inherit;
  border-color: inherit;

  font-family: Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  font-weight: 500;
  text-decoration: none;
}
body {
  overflow-x: hidden;
}
